## macOS system files ##
.DS_Store

## Xcode personal files ##
/Liste/Liste.xcodeproj/project.xcworkspace/xcshareddata/
/Liste/Liste.xcodeproj/project.xcworkspace/xcuserdata/
/Liste/Liste.xcodeproj/xcuserdata/
/Liste/Liste.xcworkspace/xcuserdata/

## Firebase configuration file ##
GoogleService-Info.plist